body {
    /* background-image:url("assets/reze1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed; */
    /* background:radial-gradient(90rem 60rem at 110% -10%, #f3350c73, #0000 60%), radial-gradient(70rem 50rem at -10% 40%, #5626766b, #0000 55%), radial-gradient(60rem 50rem at 50% 125%, #1c387266, #0000 65%), linear-gradient(160deg, #121214 0%, #1b191f 100%); */
    font-family: -apple-system, BlinkMacSystemFont, SF Pro Text, Segoe UI, system-ui, sans-serif; 
}

.wallpaper{
    position: fixed;
    left:0px;
    top:0px;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: radial-gradient(90rem 60rem at 110% -10%, #f3350c8c, #0000 60%), radial-gradient(70rem 50rem at -10% 40%, #7a1d0580, #0000 55%), linear-gradient(160deg, #2a0f08 0%, #120a08 100%);
    background-size: cover;
}

.navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:28px;
    background-color:rgba(24, 24, 28, 0.55);
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px);
    color:white;
    font-size:13px;
    z-index:1;
    
}
.nav-btn{
    display:flex;
    justify-content:space-evenly;
    padding:0px 10px;
}
.btn{
    height:27px;
    
    padding:0px 10px;
    gap:10px
}
.nav-menu {
    display: flex;
    align-items: center;
    padding-left: 16px;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.nav-menu a{
    padding:0px 10px;   
}
.desktop{
    position:absolute;
    top:40px;
    display:flex;
    flex-direction:column;
    gap:15px;
}
.tab{
    -webkit-backdrop-filter:blur(40px);
    backdrop-filter:blur(40px);
    background-color:lab(13.9388 1.37861 -4.67547 / 0.6);
    height:122px;
    width:286px; 
    border:1px solid rgba(245, 245, 247, 0.219);
    border-radius:18px;
    padding:10px;
    color:rgba(255, 255, 255, 0.45);
    font-size:10px;
    text-align:left;
    gap:2px;
    font-weight:bold;
    
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
}
.dock{
    position:fixed;
    bottom:10px;
    height:66px;
    display:flex;
    justify-content:center;
    align-items:center;
    -webkit-backdrop-filter:blur(40px);
    backdrop-filter:blur(40px);
    border:1px solid oklab(100% 0 -0.00011 / 0.593);
    background-color:oklab(100% 0 -0.00011 / 0.029);
    color:rgb(245, 245, 247);
    border-radius:16px;
    padding:0px 4px;
    transition:padding 0.25s ease-in-out;
}
.apps{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:6px;
    padding:10px 15px;
    transition:gap 0.25s ease-in-out;

}
.apps button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.apps button{
    align-items:flex-end;
    display:block;
    height:52px;
    width:52px;
    cursor:pointer;
    transform-origin: bottom center;

    /* backdrop-filter:blur(40px);
    background-color:oklab(0.999994 0.0000455678 0.0000200868 / 0.1); */
}

.btn{
    background:none;
    border:none;
    display:block;
    height:27px;
    
    cursor:pointer;
    color:white;
    padding:0px 10px;
    
}

.apps img{
    height:52px;
    width:52px;
    object-fit:contain;
    /* transition: transform 0.2s ease; */
}

#speed{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    height: 550px;
    width: 820px;
    background-color: rgb(35, 35, 39);
    -webkit-backdrop-filter:blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid oklab(100% 0 -0.00011 / 0.593);
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
}

.window.active {
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.5);
}

.titlebar {
    height: 34px;
    color:white;
    background-color:rgba(43, 43, 47, 0.97);
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 8px;
    cursor: grab;
    user-select: none;
    flex-shrink: 0;
}
.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
}
.dot::before {
    content: "";
    width: 7px;
    height: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.1s ease;
     position: absolute;   
    top: 50%;              
    left: 50%;              
    transform: translate(-50%, -50%);
}

.dot.green::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M4.1 1.1 L6.9 1.1 L6.9 3.9 Z' fill='%23003d00'/%3E%3Cpath d='M3.9 6.9 L1.1 6.9 L1.1 4.1 Z' fill='%23003d00'/%3E%3C/svg%3E");
}

.dot.red::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 1.5L6.5 6.5M6.5 1.5L1.5 6.5' stroke='%232b0502' stroke-width='1' stroke-linecap='round'/%3E%3C/svg%3E");
}

.dot.yellow::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 4H6.5' stroke='%235c3600' stroke-width='1' stroke-linecap='round'/%3E%3C/svg%3E");
}
 
.titlebar:hover .dot::before {
    opacity: 1;
}

.titlebar:active {
    cursor: grabbing;
}

.dot.red { background: #ff5f57; }
.dot.yellow { background: #febc2e; }
.dot.green { background: #28c840; }

.titlebar-label {
    margin-left: 8px;
    color: #555;
    font-size: 13px;
    color: var(--os-text);
    
}

.content {
    flex: 1;
    padding: 16px 18px;
    color: #fff;
    background-color:rgb(30, 30, 30);
    font-size: 14px;
    line-height: 1.6;
    overflow: auto;
}

.dock:hover{
    padding:0px 15px;
}

.dock:hover .apps{
    gap:15px;
}

#line{
    height:40px;
    width:2px;
    background-color: rgba(255, 255, 255, 0.593);
    margin-left:2px;
    margin-right:2px;
}

#weather-tab{
    display:flex;
    flex-direction:column;
    gap:2px;
    
}

#city{
    margin-top:auto;
}

.temperature-row{
    display:flex;
    align-items:center;
    gap:8px;
}

/* #weather-icon{
    width:25px;
    height:25px;
}

#temp{
    font-size:25px;
    font-weight:600;
    color:rgb(245, 245, 247);
} */

#weather-tab{
    display:flex;
    flex-direction:column;
}

.cities{
    margin-top:auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.city-card{
    display:flex;
    flex-direction:column;
    flex:1;
}

.temp-row{
    display:flex;
    align-items:center;
    gap:6px;
    margin:3px 3px;
}

.weather-icon{
    width:34px;
    height:34px;
}

.temp{
    font-size:24px;
    font-weight:600;
    color:rgb(245, 245, 247);
}

.condition{
    font-size:13px;
    color:rgba(255, 255, 255, 0.45);
}

.window {
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.window.minimized {
    opacity: 0;
    pointer-events: none;
}

#calander{
    width:150px;
    height:150px;
}

.heading{
    font-weight:bold;
    font-size:24px;
}

.about-me{
    font-size:16px;
}

.window[data-app="terminal"] {
  height: 440px; /* whatever smaller height you want */
  width:680px;
  background:black;

}

.content[data-app="terminal"]{
    background:#191920;
}

.content pre{
    padding:0;
    margin:0;
}
.para{
    color:rgb(255, 176, 158);
}

.initcmd{
    color:rgb(155, 224, 155);
}
